
.footer{
    background-color: #2874f0;
    text-align: center;
    height: 50px;
}
.copyright{
    color: white;
    position: absolute;
    margin-top: 10px;
}
.footer-top-margin{
    margin-top: 400px;
}